SERIAL 0 115200
UI vesamenu.c32
MENU TITLE Influent Danenone · Plasma Edition
MENU BACKGROUND splash.png

MENU WIDTH 62
MENU MARGIN 6
MENU ROWS 7
MENU VSHIFT 12
MENU TABMSGROW 18
MENU CMDLINEROW 18
MENU HELPMSGROW 20
MENU HELPMSGENDROW 31

# Refer to https://wiki.syslinux.org/wiki/index.php/Comboot/menu.c32

MENU COLOR border       30;44   #70ffffff #700b1620 std
MENU COLOR title        1;37;44 #f7ffffff #70101c2b std
MENU COLOR sel          7;37;40 #f7ffffff #a038a169 all
MENU COLOR unsel        37;44   #d9ffffff #700b1620 std
MENU COLOR help         37;40   #e6ffffff #700b1620 std
MENU COLOR timeout_msg  37;40   #cfffffff #00000000 std
MENU COLOR timeout      1;37;40 #eaffffff #00000000 std
MENU COLOR msg07        37;40   #e6ffffff #700b1620 std
MENU COLOR tabmsg       31;40   #bfffffff #00000000 std

MENU CLEAR
MENU HIDDEN
