LABEL arch
TEXT HELP
Boot the Influent Danenone live environment on BIOS.
It starts Influent Danenone for installation and system maintenance.
ENDTEXT
MENU LABEL Influent Danenone live environment (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% quiet splash loglevel=3 systemd.show_status=false systemd.status_unit_format=description rd.systemd.show_status=false udev.log_priority=3

# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot Influent Danenone on BIOS with the accessibility reader.
It starts Influent Danenone with accessibility feedback.
ENDTEXT
MENU LABEL Influent Danenone live environment (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% quiet splash loglevel=3 systemd.show_status=false systemd.status_unit_format=description rd.systemd.show_status=false udev.log_priority=3 accessibility=on quiet splash loglevel=3 systemd.show_status=false systemd.status_unit_format=description rd.systemd.show_status=false udev.log_priority=3
